:root{
    --color-primary:#0074ff;
    --color-black :#141d28;
    --color-black2:#212b38;
    --color-white:#e9e9e9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;

}


header{
    background-color: var(--color-black);
    height: 80px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.container{
    width: 1110px;
    margin: 0 auto;
    height: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.logo{
    text-transform: capitalize;
    font-size: 32px;
    color: white;
}
.logo span{
    color: #0074ff;
}

.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.menu ul li{
    padding: 0 20px;
    font-size: 20px;
    position: relative;
}
.menu ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
}
.menu ul li a:hover{
    color: var(--color-primary);
    
}
.dropdown{
    display: none;
}
.menu ul li:hover .dropdown{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
    transition: all 2s ease-in-out;
}

.menu ul li:hover .dropdown ul {
    display: block;
    margin: 10px;
}
.menu ul li:hover .dropdown ul li {
    padding:  10px 15px;
    font-size: 20px;
}
.hero-section{
    background-image:url("https://preview.colorlib.com/theme/mediplus/images/bg_3.jpg.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 80px);
}
.content-hero{
    width: 700px;
    height: 500px;
    display: flex;
    align-items: center;
}
.content-hero .information h1{
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0 0 20px 0;
    transition: transform 0.5s ease-in-out;
    animation: textAnimation 1s linear;
    animation-fill-mode: backwards;
    position: relative;
}
@keyframes textAnimation{
    0%{
        left: -100px;
        opacity: 0;
    }
    25%{
        opacity: 0;
        left: -75px;
    }
    50%{
        opacity: 0.25;
        left: -50px;
    }
    75%{
        opacity: 0.5;
        left: -25px;
    }
    90%{
        opacity: 0.75;
        left: -10px;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}
.content-hero .information span{
    color: #0074ff;
}
.content-hero .information p{
    font-size: 1.252rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    transition: transform 0.5s ease-in-out;
    animation: praghraphAnimation 1s linear;
    animation-fill-mode: backwards;
    position: relative;
}
@keyframes praghraphAnimation{
    0%{
        bottom:  -100px;
        opacity: 0;
    }
  
    50%{
        opacity: 0;
        bottom:  -50px;
    }
    75%{
        opacity: 0.75;
        bottom:  -25px;
    }
    90%{
        opacity: 0.9;
        bottom:  -10px;
    }
    100%{
        opacity: 1;
        bottom:  0;
    }
}

.content-hero .information .appointment{
    background-color: #0074ff;
    padding: 10px 15px;
    font-size: 1.25rem;
    text-transform: capitalize;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    transition: transform 0.5s ease-in-out;
    animation: button 1s linear;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    position: relative;
}
.content-hero .information .appointment:hover{
    background-color: #141d28;
    color: white;
    transition: all 1s ease;
}

.content-hero .information .learn-more{
    font-size: 1.25rem;
    padding: 10px 15px;
    background-color: #141d28;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    position: relative;
    transition: transform 0.5s ease-in-out;
    animation: button 1s linear;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
    position: relative;
}

.content-hero .information .learn-more:hover{
    background-color: #0074ff;
    color: white;
    transition: all 1s ease-in-out;
}
@keyframes button{
    0%{
        left: 100px;
        opacity: 0;
    }
    25%{
        opacity: 0;
        left: 75px;
    }
    50%{
        opacity: 0;
        left: 50px;
    }
    75%{
        opacity: 0.5;
        left: 25px;
    }
    90%{
        opacity: 0.75;
        left: 10px;
    }
    100%{
        opacity: 0;
        left: 0;
    }
}



.dotors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
    top: 0;
}
.doctor-box{
   background-color: #0074ff;
   display: flex;
   flex-direction: column;
   position: relative;
   top: -50px;
   gap: 15px;
   padding: 30px;
   border-radius: 10px;
   color: white;
}
.doctor-box:hover{
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-3%);
}
.doctor-box span{
    font-size: 18px;
    font-weight: 200;
}
.doctor-box h4{
    font-size: 25px;
    font-weight: 600;
}
.doctor-box p{
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.more a{
    color: white;
    background-color: none;
    border: none;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;

}
.more i{
    font-size: 1rem;
    margin: 5px;
}
.more a:hover {
    border-bottom: 1px solid #e9e9e9;
    transition: all 0.45s ease;
}

.more a:hover i{
    transform: translateX(30%);
    transition: all 0.5s ease;
    border: none;
}

.Timetable{
    display: flex;
    justify-content: space-between;
    gap: 0;
}
.Timetable span{
    font-size: 1rem;
}

.ready-hospital{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 70px;
}

.ready-hospital h2{
    font-size: 2.15rem;
    width: 597px;
    text-align: center;
    margin-bottom: 20px;
}
.ready-hospital img{
    width: 100px;
}
.ready-hospital p{
    font-size: 1.1rem;
    color: #888888;
    margin-top: 10px;
    width: 597px;
    text-align: center;
}
.hostibal-work{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 70px;
    position: relative;
    padding-bottom: 30px;
}
.service{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.service i{
    color: #0074ff;
    border: 2px solid #ddd;
    width: 120px ;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.service:hover i{
    background-color: #0074ff;
    color: white;
    transition: all 0.7s ease-out;
}

.service h4{
    font-size: 25px;
    font-weight: 600;
    color: #141d28;
    padding: 10px;
}
.service p{
    font-size: 18px;
    color: #757575;
    line-height: 24px;
    font-weight: 200;
    text-align: center;
    opacity: 0.8;
    font-family: sans-serif;
}
.dashed-right{
    position: absolute;
    top: 60px;
    left: 275px;
    width: 180px;
    border-bottom: 2px dashed #0074ff;
}
.dashed-left{
    position: absolute;
    top: 60px;
    right: 275px;
    width: 180px;
    border-bottom: 2px dashed #0074ff;
}
.rate-section{
    background-image: linear-gradient(rgba(26, 118, 209,0.6),rgba(26, 118, 209,0.6)),url("home-banner.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 295px;
    margin-top: 65px;
}

.rated-hosbital{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
}
.box-rate{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}
.box-rate i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
    font-size: 2.5rem;
    color: white;
}
.box-rate:hover i{
    background-color: white;
    color: #0074ff;
    transition: all 0.6s ease-in;
}
.info-rate{
    display: flex;
    flex-direction: column;
}
.info-rate span {
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding: 0 5px;
}
.info-rate p{
    font-size: 1.1rem;
    padding: 5px 5px;
    font-weight: 400;
    color: white;
}